<link rel="stylesheet" href="{{ url_for('static', filename='clientes/style_about.css' ) }}">
{% extends 'clientes/base.html'%}

{% block title %}¿Quiénes somos?{% endblock %}

{% block contents%}
<h1>[Nombre de la empresa]</h1>
<h2>Historia</h2>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi laudantium impedit doloremque voluptas qui in
    pariatur, id, enim, doloribus voluptatem soluta placeat consequatur officia fugit. Recusandae maiores fuga dolore
    magnam?</p>
<br>
<br>
<h2>[Descripción de la empresa y demás]</h2>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum ut officiis vel quis atque ex obcaecati
    commodi molestiae soluta incidunt, eos hic provident minus praesentium pariatur odit, quisquam necessitatibus!</p>
<br>
<br>
<h2>Más texto</h2>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nobis corrupti, expedita aspernatur sed modi dicta
    enim sequi, numquam libero, non ad similique id deserunt consequuntur asperiores doloribus quo rem.</p>
<br>
<br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, rem? Nisi facilis eligendi voluptatibus
    sapiente laboriosam a soluta dolores modi optio, sit earum numquam qui libero, dolor officiis aliquid tempora?</p>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium eligendi ipsam debitis blanditiis? Laborum,
    soluta. Mollitia fuga, maxime iusto, maiores quas hic quibusdam dignissimos repellat atque rem aperiam nobis!</p>
<br>
<br>
<br>
<br>
{% endblock %}